@media(max-width:970px){
.container img{
max-width: 600px;
}
.rodape{
    margin-top: 30px;
}
}

@media(max-width:768px){
    body{
        background-image: url(../images/bg-mobile.svg);
    }
    .container{
        flex-direction: column;
        justify-content: center;
        max-height: 700px;
    }

    .container .servico h1{
        font-size: 1.6rem;
        font-weight: 600;
    }

    .container .servico p{
        font-size: 1rem;
        font-weight: 200;
    }


    body .logo{
        justify-content: center;
        display: flex;
    }

    body .logo img{
        max-width: 170px;
    
    }
    main .container img{
        justify-content: center;
        max-width: 300px;
        padding: 0;
        margin-top: 1rem;
    }

    .container .btn{
        justify-content: center;
    
        max-width: 100%;
    }
    .rodape nav ul{
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    }
